<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">


<!-- 영은 -->
	<!-- 사용이력 json사용 -->
	<select id="useList" parameterType="park.VO.UseRecordVO" resultType="park.VO.UseRecordVO">
		select ur.ur_parking_lot_location , ur.ur_parking_lot_name , ccw.cc_hp , ur.start_time
				,ur.ur_consumption_time
		    from  use_record ur, coalition_company_web ccw
		    where ur.ur_parking_lot_location = ccw.cc_building_address
		    order by ur.start_time
	</select>
	
	<!-- 사용이력 map사용 -->
	<select id="usemapList" parameterType="park.VO.UseRecordVO" resultType="map">
		select ur.ur_parking_lot_location , ur.ur_parking_lot_name , ccw.cc_hp , ur.start_time
				,ur.ur_consumption_time
		    from  use_record ur, coalition_company_web ccw
		    where ur.ur_parking_lot_location = ccw.cc_building_address
		    order by ur.start_time
	</select>
	
	<!-- 나의정보 가져오기 -->
	<select id="memberInfo"  resultType="park.VO.MemberVO" parameterType="park.VO.MemberVO">
		select mem_id, mem_name, mem_point, mem_pw, mem_phone, mem_birthday, mem_uniqueness
        		,mem_email, mem_grade, mem_join_date
		     from member
		     where mem_id = #{mem_id}
	</select>
<!-- 	<select id="memberInfo1" resultType="MemberVO" parameterType="String"> -->
<!-- 		select * -->
<!-- 		     from member -->
<!-- 		     where mem_id = #{mem_id} -->
<!-- 	</select> -->
	
	<!-- 비밀번호 변경하기 -->
	<update id="mem_pwUpd" parameterType="park.VO.MemberVO">
		update member
		    set mem_pw = #{mem_pw}
		    where mem_id = #{mem_id}
	</update>
	
<!-- 영은 -->



<!-- 슬기 -->

<!-- 슬기 -->



<!-- 승범 -->

<!-- 승범 -->



<!-- 민성 -->

<!-- 민성 -->



<!-- 영성 -->

<!-- 영성 -->




</mapper>