<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">


<!-- 영은 -->

<!-- 영은 -->



<!-- 슬기 -->

<!-- 질문게시판 글 목록 Select문-->
<select id="jsonQuestionSel" parameterType="BoardVO" resultType="BoardVO">
	select base_post_number, base_title, base_writer, base_created_date, base_view_count from final_2.BASE_BOARD
	where base_post_division = '질문' 
	<if test='searchCombo.equals("base_writer")'>
	and base_writer LIKE '%'||#{searchText}||'%'
	</if>
	<if test='searchCombo.equals("base_title")'>
	and base_title LIKE '%'||#{searchText}||'%'
	</if>
	order by base_post_number
</select>

<!-- 질문게시판 글 작성 Insert문 -->
<insert id="questionIns">
	insert into base_board (base_post_number, base_post_division, base_writer, base_title, base_contents, base_created_date, base_post_pw)
	values(seq_board_post_number.nextval, '질문', #{base_writer}, #{base_title}, #{base_contents},to_char(sysdate,'YYYY-MM-DD HH24:mi:ss'), #{base_post_pw})
</insert>

<!-- 질문게시판 글 Update문 -->
<update id="questionUpd">
	update final_2.BASE_BOARD set base_title=#{base_title}, base_contents= #{base_contents} where base_post_number= #{base_post_number}
</update>

<!-- 자유게시판 글 목록 Select문-->
<select id="jsonFreeSel" parameterType="BoardVO" resultType="BoardVO">
	select base_post_number, base_title, base_writer, base_created_date, base_view_count from final_2.BASE_BOARD 
	where base_post_division = '자유'
	<if test='searchCombo.equals("base_writer")'>
	and base_writer LIKE '%'||#{searchText}||'%'
	</if>
	<if test='searchCombo.equals("base_title")'>
	and base_title LIKE '%'||#{searchText}||'%'
	</if>
	order by base_post_number
</select>

<!-- 자유게시판 글 작성 Insert문 -->
<insert id="freeIns" parameterType="BoardVO">
	insert into base_board (base_post_number, base_post_division, base_writer, base_title, base_contents, base_created_date, base_post_pw)
	values(seq_board_post_number.nextval, '자유', #{base_writer}, #{base_title}, #{base_contents},to_char(sysdate,'YYYY-MM-DD HH24:mi:ss'), #{base_post_pw})
</insert>

<!-- 글 읽기 -->
<select id="read" resultType="BoardVO">
	select base_writer, base_created_date, base_title, base_contents, base_post_pw from final_2.BASE_BOARD where base_post_number = #{base_post_number}
</select>

<!-- 글 조회수 증가 -->
<update id="viewCount">
	update final_2.BASE_BOARD set base_view_count = #{base_view_count}+1 where base_post_number = #{base_post_number}
</update>


<!-- 슬기 -->



<!-- 승범 -->

<!-- 승범 -->



<!-- 민성 -->

<!-- 민성 -->



<!-- 영성 -->

<!-- 영성 -->




</mapper>