<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="park/mapper/test.xml"/>
		<mapper resource="park/mapper/AdminMapper.xml"/>
		<mapper resource="park/mapper/CoalitionMapper.xml"/>
		<mapper resource="park/mapper/MemberMapper.xml"/>
		
	</mappers>
</configuration>